Authlib
beautifulsoup4
chromadb
crewai
crewai-tools
google-auth
langchain
langchain-openai
langchain_community
openai
pandas
selenium
streamlit
streamlit-oauth
streamlit-google-auth
tiktoken
python-dotenv
requests
webdriver-manager
tavily-python
pytz
tokenizers
